{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Student Data</title>
    <link href="{% static 'sqlapp/style.css' %}" rel="stylesheet">
</head>
<body>
    <h1>Student List</h1>
    <table border="1">
       <tr>
        <th>Fistname</th>
        <th>Lastname</th>
        <th> email </th>
        <th> Contact</th>
        <th>Edit</th>
        <th>Delete</th>
       </tr>  
       {% for stud in students %}
       <tr>            
            <td> {{ stud.firstname }}</td>
            <td> {{ stud.lastname }}</td>
            <td> {{ stud.email }}</td>
            <td> {{ stud.contact }}</td>            
            <td> <form name="editform" action ="{%  url 'edit' pk=stud.id %}" method="post"> 
                 {% csrf_token %}
                 <input type="submit" value="Edit" name="edit"> 
                </form>
            </td>
            <td> <form name="delete" action ="{% url 'delete' pk=stud.id %}" method="post"> 
                {% csrf_token %}
                <input type="submit" value="Delete" name="delete"> 
                </form>
            </td>

       </tr>
       {% endfor %}

    </table>

